@using Shine.Components.Base

@inherits ShineComponentBase

<div class="@CssClasses">
    <h5>@Header</h5>
    <div class="border border-dark-subtle rounded">
        <Content>
            @ChildContent
        </Content>
        @if (Code != null)
        {
            <Content Border="Base.BorderEdge.TopAndBottom"
                     Class="d-flex align-items-center justify-content-between border-dark-subtle bg-light">
                <Text Alignment="Base.Alignment.Start">HTML</Text>
                <Clipboard Text="@Code" class="align-self-end" />
            </Content>
            <Content Class="bg-light">
                <pre style="text-wrap: auto;">@Code</pre>
            </Content>
        }
    </div>
</div>
@code {

    /// <summary>
    /// The header.
    /// </summary>
    [Parameter]
    public string Header { get; set; }

    /// <summary>
    /// The example.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// The code content.
    /// </summary>
    [Parameter]
    public string Code { get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "example";
}
