:root {
    --sh-body-bg: #f8fbff; 
}
:root[data-bs-theme=dark] {
    --sh-body-bg: var(--bs-body-bg); 
}

body {
    background: var(--sh-body-bg);
}

h1:focus {
    outline: none;
}

.home-logo {
    height: 10rem;
    width: 10rem;
}

.example .example-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.example .example-content {
    max-height: 12rem;
    overflow: auto;
}

@media (min-width: 767px) {

    html, body, .layout-wrapper, .drawer-container .drawer-container-content, #app {
        height: 100%;
        overflow: hidden;
    }

    .layout-wrapper {
        display: flex;
        flex-direction: column;
    }
}