@import url("../lib/bootstrap/css/bootstrap.min.css");
@import url("../lib/bootstrap/css/bootstrap-grid.min.css");
@import url("../lib/bootstrap/css/bootstrap-reboot.min.css");
@import url("../lib/bootstrap/css/bootstrap-utilities.min.css");
@import url("../lib/bootstrap/css/font/bootstrap-icons.css");

/**  Custom variables  **/
:root {
    --sh-page-padding: 1rem;
    --sh-content-padding: 0.5rem 1rem;
    --sh-left-drawer-width: 0;
    --sh-right-drawer-width: 0;
}

/** Drawer **/
.drawer {
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    transition: width 0.25s ease-in;
}

    .drawer .drawer-trigger {
        display: flex;
    }

    .drawer.right .drawer-trigger {
        flex-direction: row-reverse;
    }

    .drawer .drawer-content, .drawer .drawer-collapsed-content {
        flex: 1 1 auto;
        overflow: auto;
    }
    
    .drawer .drawer-content {
        display: block;
        transition: display 0.5s ease-in;
    }

    .drawer .drawer-collapsed-content {
        display: none;
    }

    .drawer.drawer-collapse .drawer-content {
        display: none;
        transition: display 0.5s ease-in;
    }

        .drawer.drawer-collapse .drawer-collapsed-content {
            display: block;
        }


/** Drawer Container **/
.drawer-container {
    display: block;
    overflow: hidden;
    position: relative;
}
    .drawer-container .drawer {
        position: absolute;
        top: 0;
    }

    .drawer-container .drawer.left {
        left: 0;
    }

    .drawer-container .drawer.right {
        right: 0;
    }

    .drawer-container .drawer-container-content {
        margin-left: var(--sh-left-drawer-width);
        margin-right: var(--sh-rightt-drawer-width);
        width: calc(100% - var(--sh-left-drawer-width) - var(--sh-right-drawer-width));
        transition: margin 0.25s ease-in;
    }


/**  Page  **/

.page-container {
    padding: var(--sh-page-padding);
    overflow: auto;
    height: 100%;
}

.sh-content {
    padding: var(--sh-content-padding);
}

/** Modal **/

.modal.show {
    display: block;
}

/** Drop Down **/

.dropdown-toggle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 10rem;
}

/** Overlay **/

.sh-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
}

    .sh-overlay.dark {
        background-color: rgba(0,0,0,0.5);
    }


/** Utilities **/

.cursor-pointer {
    cursor: pointer;
}