@page "/carousel"

<Page PageName="Carousel">
    <Carousel>
        <CarouselItem>
            <div class="container bg-red">
                <h1><b>Slide 1</b></h1>
                <h1><i>Lorem ipsum</i></h1>
            </div>
        </CarouselItem>
        <CarouselItem>
            <div class="container bg-blue">
                <h1><b>Slide 2</b></h1>
                <h1><i>Lorem ipsum</i></h1>
            </div>
        </CarouselItem>
        <CarouselItem>
            <div class="container bg-green">
                <h1><b>Slide 3</b></h1>
                <h1><i>Lorem ipsum</i></h1>
            </div>
        </CarouselItem>
    </Carousel>
</Page>