@page "/modal"

<Page PageName="Modal">
    <Example Header="Modal Dialog" Code="@ModalCode">
        <Modal TriggerText="Show Modal" TriggerClass="btn-primary">
            <Header>Header content.</Header>
            <Body>
                <Content>
                    @CommonStrings.LoremIpsumText
                </Content>
            </Body>
            <Footer>
                This is footer.
            </Footer>
        </Modal>
    </Example>
</Page>

@code{
    public string ModalCode = "<Modal TriggerText=\"Show Modal\" TriggerClass=\"btn-primary\">\n"
        + "\t<Header>Header content.</Header>\n"
        + "\t<Body>\n"
        + "\t\t<Content>\n"
        + "\t\t\t@LoremIpsumText\n"
        + "\t\t</Content>\n"
        + "\t</Body>\n"
        + "\t<Footer>\n"
        + "\t\tThis is footer.\n"
        + "\t</Footer>\n"
        + "</Modal>";
}
