/* _content/ShineBlazor.Components/PropertyGrid/CollectionEditor.razor.rz.scp.css */
.collection-editor[b-utfrb04okn] {
    height: calc(100vh - 14rem);
    overflow: hidden;
}

.collection-editor[b-utfrb04okn]  .list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}


