
@inherits BackgroundComponentBase

<div class="@CssClasses" style="@CssStyles" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code{

    /// <summary>
    /// Alert color.
    /// </summary>
    [Parameter]
    public Color Color { get; set; }

    /// <summary>
    /// Child content.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent{ get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "alert";

    /// <summary>
    /// Alert _type class.
    /// </summary>
    private string AlertTypeClass => $"alert-{Color.ToString().ToLowerInvariant()}";

    /// <inheritdoc/>
    protected override CssClassBuilder CssBuilder => base.CssBuilder.WithClass(AlertTypeClass);
}