
@inherits BackgroundComponentBase

<span class="@CssClasses" style="@CssStyles">@Value</span>

@code {

    /// <summary>
    /// Badge value.
    /// </summary>
    [Parameter]
    public string Value { get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "badge";
}