@using Shine.Components.Common

@inherits ListItemBase<Carousel>

<div @key="Id" class="@CssClasses" style="@CssStyles" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Caption for the slide.
    /// </summary>
    [Parameter]
    public string Caption { get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "carousel-item";

    /// <inheritdoc/>
    protected override CssClassBuilder CssBuilder => base.CssBuilder.WithClass("active", IsVisibile);

}