@using Shine.Components.Common

@inherits ListItem<Carousel>

<div @key="Id" class="@CssClasses" style="@CssStyles" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Caption for the slide.
    /// </summary>
    [Parameter]
    public string Caption { get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "carousel-item";
}