@inherits BackgroundComponentBase

<div class="@CssClasses" style="@CssStyles" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {

    /// <inheritdoc/>
    protected override string ComponentName => "sh-content";

    /// <summary>
    /// Child content.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}