@inherits ShineComponentBase

<div class="@CssClasses" style="@CssStyles">
    @TriggerContent
    <div class="w3-dropdown-content">
        @ChildContent
    </div>
</div>

@code{

    /// <summary>
    /// Trigger content.
    /// </summary>
    [Parameter]
    public RenderFragment TriggerContent{ get; set; }

    /// <summary>
    /// Trigger content.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent{ get; set; }

    /// <summary>
    /// Css classes.
    /// </summary>
    protected override string CssClasses => JoinClasses("w3-dropdown-hover", base.CssClasses);
}