@using Microsoft.AspNetCore.Components.Web.Virtualization

<div class="toast-container position-static bottom-0 end-0">
    <Virtualize Items="ToastService.Toasts" Context="toast">
        <Toast ToastInfo="toast" />
    </Virtualize>
</div>
